<p-card [header]="cardData!.title" class="card">
    <ng-template pTemplate="header">
        <a [routerLink]="['/details' ,cardData?.id]" class="content-card__rating rating">
            <img [src]="cardData!.poster_path | prefixUrl" class="card__image" alt="Image">
        </a>
        <div class="content-card__action">
            <div class="content-card__buttons">
                <p-button (click)="addItemToFavouriteList(cardData!.id)" [pTooltip]="tooltipFavouriteList" tooltipPosition="bottom" icon="pi pi-heart-fill" class="content-card__button hover" />
                <ng-template #tooltipFavouriteList>
                    <div>
                        <span> <b>Add to Your favourite list</b></span>
                    </div>
                </ng-template>
                <p-button (click)="addItemToWatchList(cardData!.id)" icon="pi pi-eye" [pTooltip]="tooltipWatchList" tooltipPosition="bottom" class="content-card__button hover" />
                <ng-template #tooltipWatchList>
                    <div>
                        <span> <b>Add to Your watch list</b></span>
                    </div>
                </ng-template>
            </div>
        </div>
    </ng-template>
    @if (deleteCard) {
    <p-button icon="pi pi-trash" (click)="deleteItemById(cardData!.id)" />
    }
</p-card>