@import "@/assets/scss/function.scss";
.card {
    position: relative;
    @media (any-hover: hover) {
        &:hover .content-card__action {
            opacity: 1;
            visibility: visible;
            top: 0;
        }
    }
    // .card__image
    max-width: toRem(360);
    &__image {
        max-height: toRem(500);
    }
    // .card__content
    ::ng-deep {
        .p-card-body {
            text-align: center;
            .p-card-title {
                display: flex;
                justify-content: center;
                flex-grow: 1;
                height: toRem(20);
            }

            .p-card-title {
                color: white;
                font-size: toRem(20);
            }
            .p-card-content {
                flex-grow: 1;
            }
        }
    }

    &__content {
        position: relative;
    }
}
.content-card {
    // .content-card__description
    display: grid;

    &__description {
        font-size: toRem(18);
        color: var(--orange-300);
        transition: all 1s;
    }

    // .content-card__time

    &__time {
        display: flex;
        column-gap: toRem(10);
        justify-content: center;
        font-size: toRem(18);
    }
    &__action {
        position: absolute;
        top: -0.5%;
        left: 0;
        width: 100%;
        visibility: hidden;
        opacity: 0;
        transition: all 0.5s;
    }
    &__buttons {
        display: flex;
        position: relative;
        justify-content: center;
        gap: toRem(10);
        padding-top: toRem(8);
        padding-bottom: toRem(30);
        &::after {
            content: "";
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            position: absolute;
            background: rgb(0, 0, 0);
            background: linear-gradient(
                180deg,
                rgba(0, 0, 0, 1) 0%,
                rgba(36, 36, 46, 1) 77%,
                rgba(61, 43, 61, 0.6167717086834734) 100%
            );
            border-radius: 0 0 toRem(2) toRem(2);
        }
    }
    &__button {
        z-index: 2;
    }
}
.actions-card {
    display: flex;
    justify-content: center;
    gap: toRem(10);
}
