@import "@/assets/scss/function.scss";
.card {
    // .card__image
    max-width: toRem(360);
    &__image {
        max-height: toRem(500);
    }
    // .card__content
    ::ng-deep {
        .p-card-body {
            text-align: center;
            .p-card-title {
                display: flex;
                justify-content: center;
                flex-grow: 1;
                height: toRem(20);
            }

            .p-card-title {
                color: white;
                font-size: toRem(20);
            }
            .p-card-content {
                flex-grow: 1;
            }
        }
    }

    &__content {
        position: relative;
    }
}
.content-card {
    // .content-card__description
    display: grid;

    &__description {
        font-size: toRem(18);
        color: var(--orange-300);
        transition: all 1s;
    }

    // .content-card__time

    &__time {
        display: flex;
        column-gap: toRem(10);
        justify-content: center;
        font-size: toRem(18);
    }
}
.actions-card {
    display: flex;
    justify-content: center;
    gap: toRem(10);
    // .actions-card__fauvorite-btn
}
