.movie-manager {
    &__card-list {
        display: flex;
        gap: 10px;
    }
}
.items-list {
    display: grid;
    grid-template-columns: repeat(2, 450px);
    justify-content: space-between;
    align-items: start;
    // .items-list__list-block

    &__list-block {
        border: 1px solid black;
        border-radius: 10px;
        text-align: center;
    }

    // .items-list__title

    &__title {
        font-size: 20px;
        font-weight: 600;
        text-transform: capitalize;
    }
}
