<div class="page-not-found">
    <div class="page-not-found__container">
        <p-image src="https://firebasestorage.googleapis.com/v0/b/exclusive-shop-c0f66.appspot.com/o/logo%2Fbackground.png?alt=media&token=8cd04198-5ced-4d54-b5ab-96a6cd2fdab0" [styleClass]="'page-not-found__image'" alt="Image" width="100%" />
        <div class="page-not-found__text">
            <h1 class="page-not-found__title">{{titlePage}}</h1>
            <p class="page-not-found__subtitle">{{subtitlePage}}</p>
            <div class="page-not-found__link">
                <p-button routerLink="" label="Go Back" icon="pi pi-arrow-left" />
            </div>
        </div>
    </div>
</div>