.movie-manager {
    // .movie-manager__container

    &__container {
        padding-top: 80px;
    }
}
.card-list {
    ::ng-deep {
        .p-carousel {
            max-width: 1410px;
        }
        .p-carousel-items-content {
            margin-left: 30px;
            padding-bottom: 10px;
        }
    }
}

.items-list {
    display: grid;
    grid-template-columns: repeat(2, 450px);
    justify-content: space-between;
    align-items: start;
    // .items-list__list-block

    &__list-block {
        border-radius: 10px;
        text-align: center;
    }

    // .items-list__title

    &__title {
        font-size: 20px;
        font-weight: 600;
        text-transform: capitalize;
    }
}
