@use "sass:math";
@import "./assets/scss/function.scss";
@import "primeng/resources/themes/lara-light-blue/theme.css";
@import "primeng/resources/primeng.css";
// /* You can add global styles to this file, and also import other style files */
@import "../src/assets/style/null.scss";
@import "primeicons/primeicons.css";

$mainColor: #000;
$secondColor: #db4444;
$tablet: 991.98;
$mobile: 767.98;
$mobileSmall: 479.98;
$minWidth: 320;
$maxWidth: 1920;
$maxWidthContainer: 1410;
$containerPadding: 30;
$containerWidth: $maxWidthContainer + $containerPadding;
$pc: toEm($containerWidth);
$fontSize: toRem(16);
$responsiveType: 1;

[class*="__container"] {
    @if ($maxWidthContainer>0) {
        max-width: toRem($containerWidth);
        margin: 0 auto;
    }
    @if ($containerPadding>0) {
        @if ($maxWidthContainer>0) {
            padding: 0 toRem(math.div($containerPadding, 2));
        } @else {
            @include adaptiveValue("padding-left", math.div($containerPadding, 2), 15);
            @include adaptiveValue("padding-right", math.div($containerPadding, 2), 15);
        }
    }
}
html {
    height: 100%;
}
body {
    margin: 0;
    height: 100%;
    margin: 0;
    overflow-x: hidden;
}
.show-more,
.show-less {
    transition: all 0.3s;
    color: var(--surface-800);
    cursor: pointer;
    &:hover {
        text-decoration: underline;
    }
}
