<div class="wrapper" [class.bg-while]="!isSelectBgColor.value" [class.bg-black]="isSelectBgColor.value">
    <header class="header">
        <div class="header__container">
            <div class="header__logo">
                <img src="../../assets/img/logo1.png" alt="Image" class="header__img">
            </div>
            <div class="header__action">
                <p-inputSwitch [formControl]="isSelectBgColor" />
            </div>
        </div>
    </header>
    <main class="main">
        <ng-content></ng-content>
    </main>
    <footer class="footer"></footer>
</div>